 ## 데이터는 알집 파일에서 받을 수 있습니다.

In [1]:
cd C:\Users\USER\퀀트전략초보

C:\Users\USER\퀀트전략초보

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import dateutil.relativedelta as relativedelta 
warnings.filterwarnings(action = 'ignore')

 ### Multi Columns Concept

In [3]:
Random01 = np.random.normal(0,1,size = (5,5))
Random48 = np.random.normal(4,8,size = (5,5))
big_col = ['Random01'] * 5 + ['Random48'] * 5
small_col = ['A','B','C','D','E']*2
df1 = pd.DataFrame(Random01)
df2 = pd.DataFrame(Random48)
df = pd.concat([df1,df2],axis = 1)
df.columns = [big_col , small_col]

In [4]:
df

   Random01                                           Random48            \
          A         B         C         D         E          A         B
0  1.379685  1.115483  0.109685 -1.320122  0.129013  -0.752352 -5.130312
1  0.827503 -0.271804 -1.579703 -0.530986 -0.694045   6.235546 -8.884179
2 -1.248543  0.405556 -1.018870 -0.799752 -1.003171   8.689513  3.753248
3  0.299325  0.192901 -0.058540 -0.545084 -1.901402  12.402261 -1.301060
4  0.509972 -1.573704 -0.783033  0.780239 -1.264798   8.015971 -3.725798


          C          D          E
0  1.041085   0.391412   0.696943
1 -7.305861   2.197138  -6.534437
2  1.959493  13.788050   6.407488
3  6.343422  -4.994397  11.672910
4 -0.179687  14.505926   2.423501

In [5]:
df['Random01']

          A         B         C         D         E
0  1.379685  1.115483  0.109685 -1.320122  0.129013
1  0.827503 -0.271804 -1.579703 -0.530986 -0.694045
2 -1.248543  0.405556 -1.018870 -0.799752 -1.003171
3  0.299325  0.192901 -0.058540 -0.545084 -1.901402
4  0.509972 -1.573704 -0.783033  0.780239 -1.264798

 ### Data Preprocessing

In [6]:
path = '재무데이터.xlsx'
path_price = '수정주가.csv'
path_mkt = '시총데이터.csv'
path_endmonth = '결산월.csv'
path_kospiyn = '거래소데이터.csv'
path_delist_and_stop = '상장폐지데이터.csv'

 #### 재무 데이터 전처리 ####

In [7]:
df = pd.read_excel(path, header = [0,1], index_col = 0)
cleaned_data = df.round(4)

In [8]:
cleaned_data[['당기순이익','유동자산','총자본']].head()

             당기순이익                                                         \
        1980-12-31 1981-12-31 1982-12-31 1983-12-31 1984-12-31 1985-12-31
Symbol
A005930        NaN    69.6929    51.4773   212.6124   251.2572   215.5666
A000660        NaN        NaN        NaN        NaN        NaN        NaN
A207940        NaN        NaN        NaN        NaN        NaN        NaN
A035420        NaN        NaN        NaN        NaN        NaN        NaN
A068270        NaN        NaN        NaN        NaN        NaN        NaN

                                                     ...           총자본  \
        1986-12-31 1987-12-31 1988-12-31 1989-12-31  ...    2018-09-30
Symbol                                               ...
A005930   316.1182   345.3323  1018.2542  1584.8170  ...  1.696588e+06
A000660        NaN        NaN        NaN   199.6495  ...  4.232072e+05
A207940        NaN        NaN        NaN        NaN  ...  3.842386e+04
A035420        NaN        NaN        NaN        NaN  ...  4.362853e+04
A068270        NaN        NaN        NaN        NaN  ...  2.654882e+04

                                                                               \
           2018-12-31    2019-03-31    2019-06-30    2019-09-30    2019-12-31
Symbol
A005930  1.729881e+06  1.737495e+06  1.753888e+06  1.775506e+06  1.778702e+06
A000660  4.566089e+05  4.557381e+05  4.594609e+05  4.635995e+05  4.604422e+05
A207940  4.155468e+04  4.116458e+04  4.103130e+04  4.147370e+04  4.354454e+04
A035420  4.556882e+04  4.701041e+04  5.006466e+04  5.294083e+04  5.529547e+04
A068270  2.641581e+04  2.652450e+04  2.747827e+04  2.811753e+04  2.904712e+04


           2020-03-31    2020-06-30    2020-09-30 2020-12-31
Symbol
A005930  1.774288e+06  1.787504e+06  1.815876e+06        NaN
A000660  4.602950e+05  4.723748e+05  4.812093e+05        NaN
A207940  2.787752e+04  2.847347e+04  2.887155e+04        NaN
A035420  5.707490e+04  6.045912e+04  6.445130e+04        NaN
A068270  3.011163e+04  3.176686e+04  3.359736e+04        NaN

[5 rows x 312 columns]

 #### 가격 데이터 전처리 ####

In [9]:
x = pd.DataFrame([])
for i in pd.read_csv(path_price, chunksize = 5000, parse_dates = ['Symbol'], index_col = 0) :
    x = pd.concat([x,i], axis = 0)
cleaned_price = x.astype(np.float64)

In [10]:
cleaned_price.tail()

,A005930,A000660,A207940,A035420,A068270,A051910,A035720,A006400,A005380,A036570,...,A192520,A192530,A334890,A350520,A357250,A900030,A900050,A950010,A950070,A950100
Symbol,,,,,,,,,,,,,,,,,,,,,
2021-01-11,91000.0,133000.0,846000.0,309000.0,374000.0,998000.0,453000.0,730000.0,267500.0,978000.0,...,NaN,NaN,4700.0,4850.0,4700.0,NaN,NaN,NaN,NaN,NaN
2021-01-12,90600.0,129000.0,818000.0,304000.0,384000.0,962000.0,457500.0,745000.0,261000.0,947000.0,...,NaN,NaN,4680.0,4835.0,4695.0,NaN,NaN,NaN,NaN,NaN
2021-01-13,89700.0,133000.0,830000.0,314000.0,381500.0,1000000.0,454500.0,754000.0,259000.0,940000.0,...,NaN,NaN,4700.0,4845.0,4700.0,NaN,NaN,NaN,NaN,NaN
2021-01-14,89700.0,130500.0,816000.0,318000.0,352500.0,1010000.0,451500.0,749000.0,250500.0,939000.0,...,NaN,NaN,4710.0,4840.0,4700.0,NaN,NaN,NaN,NaN,NaN
2021-01-15,88000.0,127500.0,804000.0,306000.0,329000.0,979000.0,437500.0,737000.0,240000.0,935000.0,...,NaN,NaN,4700.0,4845.0,4710.0,NaN,NaN,NaN,NaN,NaN

 #### 시가총액 데이터 전처리 ####

In [11]:
mkt_data = pd.DataFrame([])
for i in pd.read_csv(path_mkt , index_col = 0, chunksize = 12000, engine = 'python') :
    mkt_data = pd.concat([mkt_data, i], axis = 0)

Common = mkt_data[mkt_data.columns[::2]].iloc[1:].applymap(lambda x : x.replace(',','') if type(x) == str else x).astype(np.float64)
Prefer = mkt_data[mkt_data.columns[1::2]].iloc[1:].applymap(lambda x : x.replace(',','') if type(x) == str else x).astype(np.float64)

mkt_data = pd.DataFrame(np.array(Common)/100 + np.array(Prefer.fillna(0))/100, columns = Common.columns, index = Common.index)
mkt_data.index = pd.to_datetime(mkt_data.index)
cleaned_mkt = mkt_data.resample('D').last().fillna(method = 'ffill', limit = 10) ### 중간에 공휴일도 가격을 보기 위해서 10개만 ffill

In [12]:
cleaned_mkt.tail()

,A005930,A000660,A207940,A035420,A068270,A051910,A035720,A006400,A005380,A036570,...,A192520,A192530,A334890,A350520,A357250,A900030,A900050,A950010,A950070,A950100
Symbol,,,,,,,,,,,,,,,,,,,,,
2021-01-11,6099040.35,968243.15,559755.9,507573.89,514898.90,741417.82,400723.37,509585.18,645700.30,214710.34,...,NaN,NaN,1128.0,999.10,944.70,NaN,NaN,NaN,NaN,NaN
2021-01-12,6066932.35,939123.05,541229.7,499360.72,528666.25,714543.71,404704.07,520037.38,631679.35,207904.59,...,NaN,NaN,1123.2,996.01,943.70,NaN,NaN,NaN,NaN,NaN
2021-01-13,6001683.90,968243.15,549169.5,515787.06,525224.41,742060.79,402050.27,526080.58,625872.29,206367.81,...,NaN,NaN,1128.0,998.07,944.70,NaN,NaN,NaN,NaN,NaN
2021-01-14,6003329.67,950043.09,539906.4,522357.60,485299.09,749812.01,399396.48,522585.73,606481.93,206148.27,...,NaN,NaN,1130.4,997.04,944.70,NaN,NaN,NaN,NaN,NaN
2021-01-15,5891968.72,928203.02,531966.6,502645.99,452945.82,728774.16,387196.24,514358.25,582647.43,205270.11,...,NaN,NaN,1128.0,998.07,946.71,NaN,NaN,NaN,NaN,NaN

  #### 유가증권시장 or 코스닥 상장여부 전처리 ####

In [13]:
mkt='유가증권시장'

In [14]:
#########################################
data = pd.DataFrame([])
for i in pd.read_csv(path_kospiyn, index_col = 0 , chunksize = 6000 , engine = 'python') :
    data = pd.concat([data,i], axis = 0)
data.index = pd.to_datetime(data.index)
if mkt == '유가증권시장' or mkt == '코스닥':
    data = data.astype(str).applymap(lambda x : int(mkt in x)).resample('D').last()
elif mkt == 'both' :
    data = data.astype(str).applymap(lambda x : int('유가증권시장' in x or '코스닥' in x)).resample('D').last()
cleaned_kospiyn = data.fillna(method = 'ffill', limit = 30)

In [15]:
cleaned_kospiyn.tail()

,A005930,A000660,A207940,A035420,A068270,A051910,A035720,A006400,A005380,A036570,...,A192520,A192530,A334890,A350520,A357250,A900030,A900050,A950010,A950070,A950100
Symbol,,,,,,,,,,,,,,,,,,,,,
2021-01-11,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2021-01-12,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2021-01-13,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2021-01-14,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2021-01-15,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

 #### 거래정지 및 상장폐지 데이터 전처리

In [16]:
data = pd.DataFrame([])
for i in pd.read_csv(path_delist_and_stop, index_col = 0 , chunksize = 6000, engine = 'python') :
    data = pd.concat([data,i], axis = 0)
delist_data = data[[data.columns[1]]].iloc[1:]
delist_data = delist_data[delist_data['상장폐지일자'].isna() == False]
delist_data['상장폐지일자'] = delist_data['상장폐지일자'].apply(lambda x : pd.to_datetime(x))
small_col = list(data[data.columns[2:]].iloc[0])
small_col = pd.to_datetime(small_col)
big_col = pd.Series(data.columns[2:]).apply(lambda x : x.split('.')[0])    
stop_data = data[data.columns[2:]].iloc[1:]
stop_data.columns = [big_col,small_col]
stop_data = stop_data.applymap(lambda x : 1 if x in ['TRUE' , True] else 0)

In [17]:
stop_data.tail()

            거래정지여부                                                         \
        1980-01-04 1980-01-05 1980-01-07 1980-01-08 1980-01-09 1980-01-10
A900030          0          0          0          0          0          0
A900050          0          0          0          0          0          0
A950010          0          0          0          0          0          0
A950070          0          0          0          0          0          0
A950100          0          0          0          0          0          0

                                                     ...             \
        1980-01-11 1980-01-12 1980-01-14 1980-01-15  ... 2021-01-06
A900030          0          0          0          0  ...          0
A900050          0          0          0          0  ...          0
A950010          0          0          0          0  ...          0
A950070          0          0          0          0  ...          0
A950100          0          0          0          0  ...          0

                                                                           \
        2021-01-07 2021-01-08 2021-01-09 2021-01-10 2021-01-11 2021-01-12
A900030          0          0          0          0          0          0
A900050          0          0          0          0          0          0
A950010          0          0          0          0          0          0
A950070          0          0          0          0          0          0
A950100          0          0          0          0          0          0


        2021-01-13 2021-01-14 2021-01-15
A900030          0          0          0
A900050          0          0          0
A950010          0          0          0
A950070          0          0          0
A950100          0          0          0

[5 rows x 11053 columns]

In [18]:
delist_data.head()

            상장폐지일자
A000010 2004-07-02
A000030 2019-02-13
A000090 1998-10-09
A000110 2005-04-22
A000130 1999-01-11

 #### 결산월 전처리

In [20]:
preprocessing_endmonth = lambda path_endmonth : pd.read_csv(path_endmonth,index_col = 0, parse_dates=['Symbol']).fillna(method = 'ffill').fillna(method = 'bfill').fillna(12)

In [23]:
preprocessing_endmonth(path_endmonth).tail()

,A005930,A000660,A207940,A035420,A068270,A051910,A035720,A006400,A005380,A036570,...,A192520,A192530,A334890,A350520,A357250,A900030,A900050,A950010,A950070,A950100
Symbol,,,,,,,,,,,,,,,,,,,,,
2016-12-31,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,2.0,6.0,5.0,12.0,12.0,12.0,12.0,3.0
2017-12-31,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,2.0,6.0,5.0,12.0,12.0,12.0,12.0,3.0
2018-12-31,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,2.0,6.0,5.0,12.0,12.0,12.0,12.0,3.0
2019-12-31,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,2.0,6.0,5.0,12.0,12.0,12.0,12.0,3.0
2020-12-31,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,2.0,6.0,5.0,12.0,12.0,12.0,12.0,3.0

 #### 문제 : 지금까지 만든 전처리과정을 함수화하시오. (결산월 처리는 이미 위에 되어있으니 제외)

In [25]:
def preprocessing_path(path) :
    ############################
    ## 재무 데이터 전처리     ##
    ############################
    df = pd.read_excel(path, header = [0,1], index_col = 0)
    return df.round(4)

def preprocessing_price(path_price) :
    ############################
    ## 가격 데이터 전처리     ##
    ############################
    x = pd.DataFrame([])
    for i in pd.read_csv(path_price, chunksize = 5000, parse_dates = ['Symbol'], index_col = 0) :
        x = pd.concat([x,i], axis = 0)
    return x.astype(np.float64)

def preprocessing_mktdata(path_mkt_data) :    
    ############################
    ## 시가총액 데이터 전처리 ##
    ############################
    mkt_data = pd.DataFrame([])
    for i in pd.read_csv(path_mkt_data , index_col = 0, chunksize = 12000, engine = 'python') :
        mkt_data = pd.concat([mkt_data, i], axis = 0)
    
    Common = mkt_data[mkt_data.columns[::2]].iloc[1:].applymap(lambda x : x.replace(',','') if type(x) == str else x).astype(np.float64)
    Prefer = mkt_data[mkt_data.columns[1::2]].iloc[1:].applymap(lambda x : x.replace(',','') if type(x) == str else x).astype(np.float64)
    
    mkt_data = pd.DataFrame(np.array(Common)/100 + np.array(Prefer.fillna(0))/100, columns = Common.columns, index = Common.index)
    mkt_data.index = pd.to_datetime(mkt_data.index)
    return mkt_data.resample('D').last().fillna(method = 'ffill', limit = 10)

def preprocessing_kospiyn(path_kospiyn, mkt='유가증권시장') :
    ##########################################
    ### 거래소(코스피,코스닥)데이터 전처리  ##
    #########################################
    data = pd.DataFrame([])
    for i in pd.read_csv(path_kospiyn, index_col = 0 , chunksize = 6000 , engine = 'python') :
        data = pd.concat([data,i], axis = 0)
    data.index = pd.to_datetime(data.index)
    if mkt == '유가증권시장' or mkt == '코스닥':
        data = data.astype(str).applymap(lambda x : int(mkt in x)).resample('D').last()
    elif mkt == 'both' :
        data = data.astype(str).applymap(lambda x : int('유가증권시장' in x or '코스닥' in x)).resample('D').last()
    data = data.fillna(method = 'ffill', limit = 30)
    return data

def preprocessing_stop_and_delist(path_delist_and_stop) :
    #########################################
    ## 거래정지 및 상장폐지 데이터 전처리  ##
    #########################################    
    data = pd.DataFrame([])
    for i in pd.read_csv(path_delist_and_stop, index_col = 0 , chunksize = 6000, engine = 'python') :
        data = pd.concat([data,i], axis = 0)
    delist_data = data[[data.columns[1]]].iloc[1:]
    delist_data = delist_data[delist_data['상장폐지일자'].isna() == False]
    delist_data['상장폐지일자'] = delist_data['상장폐지일자'].apply(lambda x : pd.to_datetime(x))
    small_col = list(data[data.columns[2:]].iloc[0])
    small_col = pd.to_datetime(small_col)
    big_col = pd.Series(data.columns[2:]).apply(lambda x : x.split('.')[0])    
    stop_data = data[data.columns[2:]].iloc[1:]
    stop_data.columns = [big_col,small_col]
    stop_data = stop_data.applymap(lambda x : 1 if x in ['TRUE' , True] else 0)        
    return  delist_data, stop_data

preprocessing_period = lambda path_endmonth : pd.read_csv(path_endmonth,index_col = 0, parse_dates=['Symbol']).fillna(method = 'ffill').fillna(method = 'bfill').fillna(12)